#!/bin/bash

dconf write /desktop/ibus/general/engines-order "['kkc', 'xkb:us::eng']"
dconf write /desktop/ibus/general/preload-engine-mode 0
dconf write /desktop/ibus/general/preload-engines-inited true
dconf write /desktop/ibus/general/preload-engines "['xkb:us::eng', 'kkc']"
dconf write /desktop/ibus/general/hotkey/triggers "['<Control>space']"
ibus restart
