[Desktop Entry]
Version=1.0
Name=iBus setup
Name[ja]=日本語入力設定
Comment=setup iBus
Comment[ja]=iBus初期設定を実施し、日本語入力を可能にします。（Ctrl+SpaceでIMEのOn/Offが可能になります）
Type=Application
Exec=/root/scripts/ibus-setup.sh
Icon=
Terminal=true
StartupNotify=false
