[Unit]
Description=Docker Subversion Container
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop subversion
ExecStartPre=-/usr/bin/docker rm subversion
ExecStartPre=/usr/bin/docker pull marvambass/subversion
ExecStart=/usr/bin/docker run \
    -v {{ svn_repo_path }}:/var/local/svn:z \
	-v {{ svn_repo_backup_path }}:/var/svn-backup:z \
	-v {{ svn_dav_config_path }}/:/etc/apache2/dav_svn/:z \
	-p {{ svn_port_http }}:80 \
	-p {{ svn_port_https }}:443 \
	--name subversion \
	marvambass/subversion
TimeoutSec=1200

[Install]
WantedBy=multi-user.target
