[Unit]
Description=Git Repositories Server Daemon
Documentation=man:git-daemon(1)

[Service]
User={{ git_repo_owner }}
ExecStart=-/usr/libexec/git-core/git-daemon \
	--base-path={{ git_repo_path }} \
	--export-all \
	--user-path=public_git \
	--enable=receive-pack \
	--syslog --inetd --verbose
StandardInput=socket
