[Unit]
Description=Docker GitLab Container
Requires=docker.service docker-postgresql-for-gitlab.service docker-redis-for-gitlab.service
After=docker.service docker-postgresql-for-gitlab.service docker-redis-for-gitlab.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop gitlab
ExecStartPre=-/usr/bin/docker rm gitlab
ExecStartPre=/usr/bin/docker pull sameersbn/gitlab:8.4.3
ExecStart=/usr/bin/docker run \
  --link gitlab-postgresql:postgresql \
  --link gitlab-redis:redisio \
  -v {{ gitlab_path }}:/home/git/data:z \
  --env 'GITLAB_PORT={{ gitlab_http_port }}' \
  --env 'GITLAB_SSH_PORT={{ gitlab_ssh_port }}' \
  --env 'GITLAB_SECRETS_DB_KEY_BASE=long-and-random-alpha-numeric-string' \
  -p {{ gitlab_http_port }}:80 \
  -p {{ gitlab_ssh_port }}:22 \
  --name gitlab \
  sameersbn/gitlab:8.4.3
TimeoutSec=1200

[Install]
WantedBy=multi-user.target
