[Unit]
Description=Docker PostgreSQL for GitLab Container
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop gitlab-postgresql
ExecStartPre=-/usr/bin/docker rm gitlab-postgresql
ExecStartPre=/usr/bin/docker pull sameersbn/postgresql:9.4-12
ExecStart=/usr/bin/docker run \
  -v {{ postgresql_for_gitlab_path }}:/var/lib/postgresql:z \
  --env 'DB_NAME={{ postgresql_for_gitlab_db_name }}' \
  --env 'DB_USER={{ postgresql_for_gitlab_user }}' \
  --env 'DB_PASS={{ postgresql_for_gitlab_pass }}' \
  --name gitlab-postgresql \
  sameersbn/postgresql:9.4-12
TimeoutSec=1200

[Install]
WantedBy=multi-user.target
