[Unit]
Description=Docker Elasticsearch Container
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop {{ docker_elasticsearch_container_name }}
ExecStartPre=-/usr/bin/docker rm {{ docker_elasticsearch_container_name }}
ExecStartPre=/usr/bin/docker pull elasticsearch
ExecStart=/usr/bin/docker run \
  -p {{ docker_elasticsearch_http_port }}:9200 \
  -p {{ docker_elasticsearch_transport_port }}:9300 \
  --name {{ docker_elasticsearch_container_name }} \
  elasticsearch
TimeoutSec=1200

[Install]
WantedBy=multi-user.target
